.spacerTop {
	margin-top: 2rem;
}

.sap-tablet .sapMDialog, .sap-desktop .sapMDialog {
    min-width: 18rem;
}

.sapMMessageDialog {
    width: 18rem;
}

.navTableControlLayout {
	padding: 1rem 2rem 0 2rem;
}

.sap-tablet .navTableControlLayout {
	padding: 1rem 1rem 1rem 1rem;
}

.sap-phone .navTableControlLayout {
	padding: 0 0 0 0;
}

.navTableItemLayout {
	min-height: 5rem;
	padding: 1rem 0 1rem 0;
}

.loginBackground {
    background-image: URL('login_background.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.welcomeText {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
    width: 18rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    margin-bottom:0.5rem;
}